__pycache__/*
.ipynb_checkpoints/*
*.gzip
*.zip
*.raw
*.DS_Store
.vscode/
data/*
results/*
resources/*
!GNPSExport.ini
!data/.gitkeep
!emptyfile.idXML
!resources/ThermoRawFileParser/README.md
!README.md
!results/CSI/interim/.gitkeep
!results/SIRIUS/interim/.gitkeep
!results/features/interim/.gitkeep
!results/interim/.gitkeep
*.xlsx
!common.py
QExactive/*
6_DataAnalysis_Åsmund.ipynb
6_DataAnalysis_std.ipynb
6_DataAnalysis_NBC00265.ipynb
pyOpenMS_old_results/*
!pymetabo/*
*whl
*.py
*.csv
Visualise_2.ipynb